* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
body {
  font-family: roboto;
  background: url("./assets/bgretro.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
